<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Greeting Service</title>
    <script type="text/javascript">
        function say_hello() {
            const user_name = document.querySelector("#user_name").value;
            const url = "actions/say-hello?name="+encodeURIComponent(user_name);
            fetch(url).then(response => response.json()).then(data => {
                const element = document.createElement("div")
                element.append(document.createTextNode(data))
                document.querySelector('#messages').append(element)
            })
            return false
        }
    </script>
</head>
<body>
<h1>Greeting Service</h1>

<p>This demonstrates using the rest API to run an action and retrieve a result.</p>

{% if model.is_server_debug %}
    <p>In hosted mode, <a href="/docs/">OpenAPI</a> and <a href="/graphiql/">Graphiql</a> docs are available</p>
{% endif %}

<form onsubmit="return say_hello()">
    <label for="user_name">Name</label>
    <input type="text" id="user_name" />
    <input type="submit" />
</form>
<div id="messages"></div>
</body>
</html>