<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Servey</title>
</head>
<body>
<h1>Welcome to Servey!</h1>
<a href="/current-time-page">Current Time</a>
</body>
</html>